---
layout: default
---

{% for post in site.posts %}
{% if post.title == 'My Photo' %}
<div id="{{ post.date | date: "%F-%H" }}" class="unit whole align-left post">
    <article itemscope itemtype="http://schema.org/BlogPosting">
        <h2>
            {{ post.title }}<br>
            <small class="chip">{{ post.date | date: "%Y-%m-%d" }}</small>
            <a class="chip" href="#"><i class="icon ion-ios-heart"></i> LIKE</a>
            <a class="chip" href="#"><i class="icon ion-android-share-alt"></i> SHARE</a>
        </h2>
        <div class="post-content">
            {{ post.content }}
        </div>
        {% if post.author %}
        <span class="chip" itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">Article by {{ post.author }} - {{post.modifyTime | date: "%Y-%m-%d"}}</span>
        </span>
        {% endif %}
    </article>
</div>
{% endif %}
{% endfor %}

