<h4>Skill stack</h4>
<ul>
    {% for skill in site.data.skill %}
    <li>
        <p>
            <a href="{{ skill.link }}">{{ skill.name }}</a><br>
            <div>
                {% for elm in skill.items %}
                <a href="{{ elm.href }}" target="_blank" title="{{ elm.name }}">
                    <img src="{{ elm.imgSrc }}" target="_blank" alt="{{ elm.name }}" title="{{ elm.name }}" />
                </a>
                {% endfor %}
            </div>
        </p>
    </li>
    {% endfor %}
</ul>