<!DOCTYPE html>
<html lang="{{ site.isolang }}" itemscope itemtype="http://schema.org/WebPage">

{% include head.html %}

<body class="wrap wider" style="background-color: #f5f1f1">
    <div class="grid">
        <div id="/home" class="unit one-third">
            <div class="grid">
                <div class="unit whole" id="/home">
                    <a href="/">
                        <img class="avatar" width="150" height="103" src="/images/mc.gif" alt="profile picture" _mstalt="266110" style="display: flex;margin: 0 auto;border-radius: 50%;border: 1px solid #4f5378;">
                    </a>
                    <h1><a href="/">&nbsp;&nbsp;&nbsp;&nbsp;{{ site.title }}</a></h1>
                    <p>
                        {{ site.description }} <br />
                        🔭 I’m now working for <a href="https://www.beisen.com/" target="_blank" title="Beisen">Beisen</a>.<br />
                        😄 currently coding in <a href="https://learn.microsoft.com/en-us/dotnet/csharp/" target="_blank" title="CSharp">CSharp</a> and
                        <a href="https://dev.java/" target="_blank" title="Java">Java</a>.<br />
                        💝 I like playing <a href="https://www.xbox.com/en-us/games/store/DARK-SOULS-III/BW2XDRNSCCPZ" target="_blank" title="DarkSouls">DarkSouls</a> and
                        <a href="https://specialized.com.cn/?lang=en" target="_blank" title="specialized">Road cycling</a>.<br />
                        ❓ Be free to ask me about anything <a href="https://github.com/ChenDaqian/ChenDaqian/issues" target="_blank" title="issues">here</a>.
                    </p>
                    <img src="/images/code.svg" alt="Typing SVG" title="Code changes the world">
                </div>
                <div class="unit whole" id="/contact">
                    <a href="https://www.cnblogs.com/{{ site.cnblog_username }}/" class="btn" title="CNBlogs" target="_blank"><i class="icon ion-ios-paw"></i></a>
                    <a href="https://github.com/{{ site.github_username }}" target="_blank" title="Github" class="github-icon btn"><i class="icon ion-social-github"></i></a>
                    <a href="mailto:{{ site.email }}" class="mail-icon btn"><i class="icon ion-email"></i></a>
                    <a href="feed.xml" class="rss-icon btn" target="_blank" title="RSS"><i class="icon ion-social-rss"></i></a>
                </div>
                <div class="unit whole hide-on-mobiles" id="/skill">
                    {% include skill.html %}
                </div>
                <div class="unit whole hide-on-mobiles" id="/impressum">
                    {% include imprint.html %}
                </div>
            </div>
        </div>
        <div class="unit two-thirds blog-column">
            <div class="grid">
                <div class="unit whole" id="/blog">
                    <h1>Resume</h1>
                </div>
                {{ content }}
            </div>
        </div>
        <div class="unit whole hide-on-desktops" id="/skill">
            {% include skill.html %}
        </div>
        <div class="unit whole hide-on-desktops" id="/impressum">
            {% include imprint.html %}
        </div>
    </div>
    {% include foot.html %}
    <div class="back-to-top cd-top faa-float animated cd-is-visible" style="top: -999px;"></div>
    <!-- 悬挂的喵 -->
    <script>
        $(function () {
            //scroll 事件适用于所有可滚动的元素和 window 对象（浏览器窗口）。
            $(window).scroll(function () {
                var scroHei = $(window).scrollTop();//滚动的高度
                if (scroHei > 350) {
                    $('.back-to-top').css('top', '-200px');
                    // $('.back-to-top').fadeIn();
                } else {
                    $('.back-to-top').css('top', '-999px');
                    // $('.back-to-top').fadeOut();
                }
            })
            /*点击返回顶部*/
            $('.back-to-top').click(function () {
                $('body,html').animate({
                    scrollTop: 0
                }, 600);
            })
        })
    </script>
</body>
</html>